flask==2.0.1
Werkzeug==2.3.7
flask-socketio==5.1.1
gevent==24.2.1
python-dotenv==0.19.0
openai==1.76.0
numpy==2.2.5
pydub==0.25.1
ffmpeg-python==0.2.0
httpx==0.26.0
requests==2.31.0
gevent-websocket==0.10.1
#python-engineio==4.9.0
python-socketio==5.11.1
#eventlet==0.35.2
#dnspython==2.5.0
RPi.GPIO==0.7.1
